@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Poppins:wght@400;600;700;800&display=swap');

body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #FFFF;
    font-family: 'Poppins', sans-serif;
}
section{
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px #5f5f5f;
}

div h1{
    font-weight: 800;
    font-size: 32px;
}

div p{
    font-size: 17px;
    font-weight: 400;
}

/* div .calculator{
    ;
} */
div .weight, .height{
    margin-left: 200px;
    text-align: left;
} 

div .weight > input, 
.height > input{
    width: 380px;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid #341f97;
}

div .weight > input:focus, 
.height > input:focus{
    border-bottom:2px solid #341f97;
    width: 400px;
    transition: 0.5s;
}

#btn{
    font-weight: 200;
    margin-top: 25px;
    color: #FFFF;
    background-color: rgb(227, 0, 0);
    width: 150px;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    box-shadow: 1px 1px 10px rgb(72, 0, 0);
}

#btn:hover{
    background-color: rgb(154, 0, 0);
}